docs_dir: docs
site_name: Modbus Monitor  Documentation
site_url: https://docs.quantumbitsolutions.com/
use_directory_urls: true

site_description: Professional Modbus monitoring tools and comprehensive documentation for automation engineers, OEMs, and testing teams.
site_author: Quantum Bit Solutions

extra:
  version:
    provider: mike
  generator: false
  analytics:
    provider: google
    property: G-N7VJZYC4XW

theme:
  name: material
  custom_dir: docs/overrides
  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.path
    - navigation.prune
    - navigation.indexes
    - navigation.top
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.footer
    - navigation.sections
    - toc.follow
    - toc.integrate
    - search.highlight
    - search.suggest
    - search.share
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - content.tooltips
    - content.footnote.tooltips
    - content.tabs.link
    - content.action.edit
    - content.action.view
  palette:
    - scheme: default
      primary: indigo
      accent: deep orange
    - scheme: slate
      primary: blue
      accent: teal
  icon:
    logo: material/book-open-page-variant
    favicon: images/favicon.png

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://unpkg.com/mermaid@10/dist/mermaid.min.js
  - javascripts/mermaid-init.js
  - javascripts/search-optimize.js

extra_css:
  - stylesheets/extra.css

plugins:
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()",/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
      lang:
        - en
  - include-markdown
  - awesome-pages
  - autorefs
  - redirects:
      redirect_maps:
        'xpf-users-guide.md': 'products/xpf/user-guide.md'
        'features-demo.md': 'guides/features-demo.md'
        'mermaid-showcase.md': 'guides/mermaid-showcase.md'
        'assets-guide.md': 'guides/assets-guide.md'

markdown_extensions:
  - admonition
  - tables
  - toc:
      permalink: true
      toc_depth: 3
  - def_list
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      base_path: docs
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.caret
  - pymdownx.tilde
  - footnotes

copyright: |
  Documentation Version 1.3.26  Last Updated: December 15, 2025

nav:
  - Home: index.md
  - Downloads & Purchase: downloads-purchase.md
  - Technical Resources:
      - Overview: technical/index.md
  - Support & Help:
      - Help Center: support/index.md
      - FAQ: support/faq.md
      - Community Forum: https://quantumbitsolutions.com/forums/
